* {
    margin: 0;
}

.header-container {
    background-color: #1F2937;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 10% 16px 10%;
}

.link {
    margin-left: auto;
}

h3 {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    padding: 35px 5px 35px 5px;
}

.header-links a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.awesome {
    display: flex;
    flex-direction: row;
    margin: 10px 30% 10px 30%;
    padding: 20px;
}

.website-awesome {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    display: flex;
    padding: 0;
}

.awesome-pups {
    color: #f9faf8;
    display: flex;
    justify-content: center;
    padding: 5px 5px 5px 5px;
}

.btn {
    background-color: #3882f6;
    border-radius: 15px;
    width: 100px;
    height: auto;
    color: #f9faf8;
    font-weight:bold;
    display: flex;
    justify-content: center;
}

img {
    width: 300px;
    border-radius: 75px;
}

.description {
    flex-direction: column;
    padding: 10px;
}
