* {
    margin: 0;
}

.header-container {
    background-color: #1F2937;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 10% 16px 10%;
}

.link {
    margin-left: auto;
}

h3 {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    padding: 35px 5px 35px 5px;
}

.header-links a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.awesome {
    display: flex;
    flex-direction: row;
    margin: 10px 30% 10px 30%;
    padding: 20px;
}

.website-awesome {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    display: flex;
    padding: 0;
}

.awesome-pups {
    color: #f9faf8;
    display: flex;
    justify-content: center;
    padding: 5px 5px 5px 5px;
}

.btn {
    background-color: #3882f6;
    border-radius: 15px;
    width: 100px;
    height: auto;
    color: #f9faf8;
    font-weight:bold;
    display: flex;
    justify-content: center;
}

.header-image {
    width: 300px;
    border-radius: 75px;
}

.description {
    flex-direction: column;
    padding: 10px;
}

.header-statement {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
}

.working-huskies {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 52px;
}

.body-container {
    font-size: 18px;
    color: #716d77;
    font-style: italic;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
}

.husky-image {
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: auto;
    border-radius: 50px;
    border: 5px solid #3882f6;
}

.info {
    max-width: 200px;
}

.text {
    display: flex;
    justify-content: center;
}

.quote-container {
    background-color: #e5e7eb;
}

.quote-text,
.quote-author {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 8% 0 0 0;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    font-style: bold;
    padding: 0 27% 8% 0;
}

.action-container {
    background-color: #fff;
     display: flex;
     justify-content: center;
     margin: 5%;
   }
   
   .action-call,
   .action-box {
     display: flex;
     flex-direction: column;
     background-color: #3882f6;
     padding: 0 60px 0 0;
     border-radius: 15px;;
     padding: 20px 100px ;
   }
   
   .action-box {
     display: flex;
     flex-direction: row;
     align-items: center;
   }
   
   .action-text-bold {
     font-weight: bold;
     color: #fff;
   }
   
   .action-text {
     color: #fff;
   }
   
   .btn1 {
     display: flex;
     flex-direction: row;
     align-items: center;
     max-height: 30px;
   }
   
   .footer-container {
     background-color: #1F2937;
     display: flex;
     justify-content: center;
     padding: 40px;
     color: #fff;
   }
   